<button class="layergroup-button mdl-button mdl-js-button mdl-list__item">
    <span class="mdl-list__item-primary-content">
        {{componentName}}
    </span>
    <span class="mdl-list__item-secondary-action"
            style="position: absolute; right: 10px;">
        <i class="material-icons"
            [hidden]="showChild()" 
            (click)="clickShow()">
            arrow_drop_down
        </i>
        <i class="material-icons" 
            [hidden]="!showChild()" 
            (click)="clickShow()">
            arrow_drop_up
        </i>
    </span>
</button>
<app-overlay-control *ngFor="let layer of overlay.value"
    [hidden]="!showChild()"
    [layer]="layer"
    (layerEmitter)="emitLayer($event)"
    (boundsEmitter)="emitLayerBounds($event)">
</app-overlay-control>