<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Watersheds
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="height: 280px; overflow-y: scroll;">
        <app-overlay-control *ngFor="let watershed of watersheds" 
            [layer]="watershed" 
            (layerEmitter)="emitLayer($event)"
            (boundsEmitter)="emitLayerBounds($event)">

        </app-overlay-control>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Markers
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-overlay-control *ngFor="let marker of markers" 
            [layer]="marker" 
            (layerEmitter)="emitLayer($event)"
            (boundsEmitter)="emitLayerBounds($event)">

        </app-overlay-control>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Others
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-overlay-control *ngFor="let other of others" 
            [layer]="other" 
            (layerEmitter)="emitLayer($event)"
            (boundsEmitter)="emitLayerBounds($event)">

        </app-overlay-control>
    </mat-expansion-panel>
</mat-accordion>
