<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#watersheds-panel"  class="mdl-tabs__tab is-active">Watersheds</a>
        <a href="#markers-panel" class="mdl-tabs__tab">Markers</a>
        <a href="#others-panel" class="mdl-tabs__tab">Others</a>
    </div>
    
    <div class="mdl-tabs__panel is-active" id="watersheds-panel"
         style="height: 280px; overflow-y: scroll;">
        <app-overlay-control *ngFor="let watershed of watersheds" 
            [layer]="watershed" 
            (layerEmitter)="emitLayer($event)"
            (boundsEmitter)="emitLayerBounds($event)">

        </app-overlay-control>
    </div>
    <div class="mdl-tabs__panel" id="markers-panel"
         style="height: 280px; overflow-y: scroll;">
        <app-overlay-control *ngFor="let marker of markers" 
            [layer]="marker" 
            (layerEmitter)="emitLayer($event)"
            (boundsEmitter)="emitLayerBounds($event)">

        </app-overlay-control>
    </div>
    <div class="mdl-tabs__panel" id="others-panel"
         style="height: 280px; overflow-y: scroll;">
        <ul>
            <li>Viserys</li>
            <li>Daenerys</li>
        </ul>
    </div>
</div>
