<div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
        <span class="show-button-margin">
            <mat-slide-toggle #slideToggle (click)="emitLayer()" [id]=layer.name class="mdl-color-teal">
                {{layer.name}}
            </mat-slide-toggle>
        </span>
    </span>
    <!-- <button mat-raised-button [matMenuTriggerFor]="menu">
        analysis
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
        <button (click)="emitPolygonAction()" mat-menu-item>area</button>
    </mat-menu> -->
    <span class="mdl-list__item-secondary-action" matTooltip="Go to layer">
        <button mat-icon-button class="mdl-color-text--teal"
                (click)="emitLayerBounds()" disabled={{!overlayControlShow}}>
            <mat-icon>
                near_me
            </mat-icon>
        </button>
    </span>
</div>