<div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
        <span class="show-button-margin">
            <mdl-switch mdl-ripple (click)="emitLayer()">
                {{layer.name}}
            </mdl-switch>
        </span>
    </span>
    <span class="mdl-list__item-secondary-action">
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored
                       mdl-color-text--teal explore-buttons" 
                id="go-to-layer" 
                [disabled]="!show" 
                (click)="emitLayerBounds()">
            <i class="material-icons">
                near_me
            </i>
        </button>
        <div class="mdl-tooltip" data-mdl-for="go-to-layer" [hidden]="!show">
            Go to layer
        </div>
    </span>
</div>

<hr>