<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
  <header class="mdl-layout__header mdl-color--white">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" >
        <img src="../assets/download.png" width="150" height="50" alt="">
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-color--white mdl-color-text--black">
    <span class="mdl-layout-title">
      <i class="material-icons">account_circle</i>
      Admin Name
    </span>
    <nav class="mdl-navigation">
      <mat-button-toggle-group [vertical]=true name="adminFunctions" 
                               aria-label="Admin Functions"
                               (change)="toggleEventHandler($event)">
        <mat-button-toggle value="view system data"
            class="mdl-color-text--black" 
            style="text-align: center; height: 50px;"
            [checked]=true>
            System Data
        </mat-button-toggle>
        <mat-button-toggle value="view map requests"
            class="mdl-color-text--black" 
            style="text-align: center; height: 50px;">
            Map Requests
        </mat-button-toggle>
      </mat-button-toggle-group>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <mat-tab-group [hidden]="!isSystemData">
          <mat-tab label="Layers">
            <app-layer-list></app-layer-list>
          </mat-tab>
          <mat-tab label="Base Maps">
            <app-map-list></app-map-list>
          </mat-tab>
        </mat-tab-group>
        <app-request-list [hidden]="isSystemData">

        </app-request-list>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
    </div>
  </main>
</div>