<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--white">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" >
        <img src="../assets/download.png" width="150" height="50" alt="">
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <!-- <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-color-text--black
          mdl-js-button mdl-js-ripple-effect">Sign in</a>
      </nav> -->
    </div>
  </header>
  <!-- <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title mdl-color--white">
      <img src="../assets/download.png" width="150" height="50" alt="">
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div> -->
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col">
        <h3 style="float: right;">Admin Page</h3>
      </div>
      <div class="mdl-cell mdl-cell--1-col"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <mat-tab-group>
          <mat-tab label="Layers">
            <app-layer-list></app-layer-list>
          </mat-tab>
          <mat-tab label="Base Maps">
            <app-map-list></app-map-list>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="mdl-cell mdl-cell--3-col"></div>
    </div>
  </main>
</div>