<div style="height: 93vh;" id="map">
    <app-base-map-chooser 
        [basemaps]=basemaps
        (layer)="addBaseLayer($event)"
        style="position:absolute; z-index: 1000; top: 10px; right: 10px;">
    </app-base-map-chooser>
    <div style="overflow-y: auto; position: absolute; top: 500px; right: 10px; 
                max-height: 400px; min-width: 300px; 
                background-color: white; z-index: 2000;"
         class="mdl-list">
        <app-overlay-parent *ngFor="let layer of layers | overlaypipe"
            [overlay]="layer"
            (layerEmitter)="overlayHandler($event)"
            (boundsEmitter)="flyToHandler($event)">
        </app-overlay-parent>
    </div>
    <div style="overflow-y: auto; position: absolute; top: 250px; right: 10px; 
                max-height: 400px; min-height: 50px; width: 250px; 
                background-color: white; z-index: 1000;" 
         class="mdl-list">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content" >
                LAYER GROUPS
            </span>
        </div>
        <app-overlay-chooser-parent (overlayGroupEmitter)="addToOverlayStorage($event)">
        </app-overlay-chooser-parent>
    </div>

</div>
