<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row mdl-color--white">
            <!-- Title -->
            <span class="mdl-layout-title">
                <img src="../assets/download.png" width="150" height="50" alt="">
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link mdl-color-text--black
                          mdl-js-button mdl-js-ripple-effect" 
                    routerLink="/auth/login">
                    <mat-icon>account_circle</mat-icon>
                    Sign in
                </a>
            </nav>
        </div>
        <div class="mdl-layout__header-row mdl-color--teal-900" style="height: 45px;">
            <div class="mdl-layout-spacer"></div>
            <button mat-button class="mdl-color-text--white">Watersheds</button>
            <button mat-button class="mdl-color-text--white">Markers</button>
            <button mat-button class="mdl-color-text--white">Layers</button>
            <div class="mdl-layout-spacer"></div>
        </div>

        <!-- <div class="mdl-layout__tab-bar mdl-color--teal-900 mdl-js-ripple-effect">
            <div class="mdl-layout-spacer"></div>
            <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
            <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
            <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
            <a href="#scroll-tab-4" class="mdl-layout__tab">Tab 4</a>
            <a href="#scroll-tab-5" class="mdl-layout__tab">Tab 5</a>
            <a href="#scroll-tab-6" class="mdl-layout__tab">Tab 6</a>
            <div class="mdl-layout-spacer"></div>
        </div> -->
    </header>
    <!-- Putting it here just in case requirement changes -->

    <!-- <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <span class="mdl-layout-title mdl-color--white">
            <img src="../assets/download.png" width="150" height="50" alt="">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div> -->

    <!-- Putting it here just in case requirement changes -->
    <main class="mdl-layout__content">
        <div class="page-content">
            <div style="height: 88vh;" id="map">
                <!-- <button mat-raised-button style="position: absolute; top: 100px; left: 10px; z-index: 1000;" (click)="drawCircle()">
                    draw line
                </button>
                <button mat-raised-button style="position: absolute; top: 100px; left: 110px; z-index: 1000;" (click)="drawCircle()">
                    add marker
                </button> -->
                <app-base-map-chooser [basemaps]=basemaps (layer)="addBaseLayer($event)" style="position:absolute; z-index: 1000; top: 10px; right: 10px;">
                </app-base-map-chooser>
            </div>
            <div style="overflow-y: auto; position: absolute; top: 100px; left: 10px; 
                        max-height: 400px; min-width: 300px; 
                        background-color: white; z-index: 9999;" class="mdl-list">
                <app-overlay-parent *ngFor="let layer of layers$ | overlaypipe" 
                    [overlay]="layer" (layerEmitter)="overlayHandler($event)"
                    (boundsEmitter)="flyToHandler($event)">
                </app-overlay-parent>
            </div>
        </div>
    </main>
</div>
