<h1 style="font-size: 24px; margin: 20px 0px 0px 0px;">
  Enter new password
</h1>

<div [formGroup]="resetPassword" style="margin-top: 30px;">
  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="password" 
            [formControl]="resetPassword.controls['password']">
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>
  </form>

  <form action="#">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="confirmPassword" id="confirmPassword" 
            [formControl]="resetPassword.controls['confirmPassword']">
      <label class="mdl-textfield__label" for="confirmPassword">Confirm Password</label>
    </div>
  </form>
</div>

<div style="margin-top: 100px;">
  <button mat-button class="mdl-color--teal-900 mdl-color-text--white" 
  (click)="onSubmit(resetPassword.value)" 
  (keyup.enter)="onSubmit(resetPassword.value)"
    style="min-width: 373px; line-height: 45px;">
    Reset Password
  </button>
</div>