<h2 mat-dialog-title style="color: black;">UPLOAD LAYER</h2>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col"></div>
  <div  class="mdl-cell mdl-cell--6-col" style="margin-top: 10vh;">
    <div class="mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div *ngIf="fileSelected">
        {{fileSelected.name}}
      </div>
      <div *ngIf="fileSelected == null">
        There are no files selected. Please Select a file to upload
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-grid" style="margin-top: 20px;">
      <div class="mdl-layout-spacer"></div>
      <div>
        <label class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect">
          Browse
          <input type="file" style="display: none;" (change)="onFileSelected($event)">
        </label>
        <button mat-raised-button 
                (click)="onFileUpload()" 
                class="mdl-color--primary mdl-color-text--white"
                *ngIf="fileSelected != null">
          UPLOAD
        </button>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col"></div>
</div>




